In [1]:
print("abc")

abc

In [2]:
import pandas as pd
from autogluon.tabular import TabularPredictor

train = pd.read_csv("train.csv")
train.head()

test = pd.read_csv("test.csv")
test.head()

#convert str to datetime object
#format='%Y%m%d-%H%M%S'
#20210328-200000
#df['DataFrame Column'] = pd.to_datetime(df['DataFrame Column'], format=specify your format)

train['dt_obj'] =pd.to_datetime(train['datetime'], format='%Y-%m-%d %H:%M:%S')
test['dt_obj'] =pd.to_datetime(test['datetime'], format='%Y-%m-%d %H:%M:%S')

# create a new feature
#df['Age Category'] = 'Over 30'
#df.loc[df['Age'] < 30, 'Age Category'] = 'Under 30'
train['year'] = train['dt_obj'].dt.year
train['month'] = train['dt_obj'].dt.month
train['day'] = train['dt_obj'].dt.day
train['hour'] = train['dt_obj'].dt.hour
train['min'] = train['dt_obj'].dt.minute
train['second'] = train['dt_obj'].dt.second
train['dayofweek'] = train["dt_obj"].dt.dayofweek

test['year'] = test['dt_obj'].dt.year
test['month'] = test['dt_obj'].dt.month
test['day'] = test['dt_obj'].dt.day
test['hour'] = test['dt_obj'].dt.hour
test['min'] = test['dt_obj'].dt.minute
test['second'] = test['dt_obj'].dt.second
test['dayofweek'] = test["dt_obj"].dt.dayofweek

train['season']=0

#winter
train.loc[train['month'] == 1 , 'season'] = 1
train.loc[train['month'] == 2 , 'season'] = 1
train.loc[train['month'] == 12 , 'season'] = 1
#spring
train.loc[train['month'] == 3 , 'season'] = 2
train.loc[train['month'] == 4 , 'season'] = 2
train.loc[train['month'] == 5 , 'season'] = 2
#summer
train.loc[train['month'] == 6 , 'season'] = 3
train.loc[train['month'] == 7 , 'season'] = 3
train.loc[train['month'] == 8 , 'season'] = 3

#winter
train.loc[train['month'] == 9, 'season'] = 4
train.loc[train['month'] == 10 , 'season'] = 4
train.loc[train['month'] == 11 , 'season'] = 4

test['season']=0
#winter
test.loc[test['month'] == 1 , 'season'] = 1
test.loc[test['month'] == 2 , 'season'] = 1
test.loc[test['month'] == 12 , 'season'] = 1
#spring
test.loc[test['month'] == 3 , 'season'] = 2
test.loc[test['month'] == 4 , 'season'] = 2
test.loc[test['month'] == 5 , 'season'] = 2
#summer
test.loc[test['month'] == 6 , 'season'] = 3
test.loc[test['month'] == 7 , 'season'] = 3
test.loc[test['month'] == 8 , 'season'] = 3

#winter
test.loc[test['month'] == 9, 'season'] = 4
test.loc[test['month'] == 10 , 'season'] = 4
test.loc[test['month'] == 11 , 'season'] = 4

#morning, lunch, and evening rush hour, 7-9am, 11am-1pm, and 5-6pm
#hr_label
train['hr_label']=0
#7-9
train.loc[train['hour'] == 7 , 'hr_label'] = 1
train.loc[train['hour'] == 8 , 'hr_label'] = 1
train.loc[train['hour'] == 9 , 'hr_label'] = 1
#11-13
train.loc[train['hour'] == 11 , 'hr_label'] = 2
train.loc[train['hour'] == 12, 'hr_label'] = 2
train.loc[train['hour'] == 13 , 'hr_label'] = 2
#17-18
train.loc[train['hour'] == 17 , 'hr_label'] = 3
train.loc[train['hour'] == 18 , 'hr_label'] = 3



#morning, lunch, and evening rush hour, 7-9am, 11am-1pm, and 5-6pm
#hr_label
test['hr_label']=0
#7-9
test.loc[test['hour'] == 7 , 'hr_label'] = 1
test.loc[test['hour'] == 8 , 'hr_label'] = 1
test.loc[test['hour'] == 9 , 'hr_label'] = 1
#11-13
test.loc[test['hour'] == 11 , 'hr_label'] = 2
test.loc[test['hour'] == 12, 'hr_label'] = 2
test.loc[test['hour'] == 13 , 'hr_label'] = 2
#17-18
test.loc[test['hour'] == 17 , 'hr_label'] = 3
test.loc[test['hour'] == 18 , 'hr_label'] = 3

test['temp_label']=0
#cold
test.loc[test['temp'] <15  , 'temp_label'] = 1
#mild
test.loc[((test['temp'] >= 15) &( test['temp'] <= 26)), 'temp_label'] = 2
#hot
test.loc[test['temp'] > 26 , 'temp_label'] = 3

train['temp_label']=0
#cold
train.loc[train['temp'] <15  , 'temp_label'] = 1
#mild
train.loc[((train['temp'] >= 15) &( train['temp'] <= 26)), 'temp_label'] = 2
#hot
train.loc[train['temp'] > 26 , 'temp_label'] = 3


train['hum_label']=0
#not-hum
train.loc[train['humidity'] <55  , 'hum_label'] = 1
#hum
train.loc[(train['humidity'] >= 55), 'hum_label'] = 2


test['hum_label']=0
#not-hum
test.loc[test['humidity'] <55  , 'hum_label'] = 1
#hum
test.loc[(test['humidity'] >= 55), 'hum_label'] = 2

test['windspeed']=0
#not-windy
test.loc[test['windspeed'] <20  , 'wind_label'] = 1
#windy
test.loc[(test['windspeed'] >= 20), 'wind_label'] = 2

train['windspeed']=0
#not-windy
train.loc[train['windspeed'] <20  , 'wind_label'] = 1
#windy
train.loc[(train['windspeed'] >= 20), 'wind_label'] = 2

test[test['wind_label'] <= 0]

Empty DataFrame
Columns: [datetime, season, holiday, workingday, weather, temp, atemp, humidity, windspeed, dt_obj, year, month, day, hour, min, second, dayofweek, hr_label, temp_label, hum_label, wind_label]
Index: []

[0 rows x 21 columns]

In [ ]:
train.info()

In [ ]:
# Change the date column to a datetime
#df.loc[:, "date"] = pd.to_datetime(df.loc[:, "date"])
# Change weather column to a category 
train.loc[:, "hr_label"] = train["hr_label"].astype("category")
train.loc[:, "temp_label"] = train["temp_label"].astype("category")
train.loc[:, "hum_label"] = train["hum_label"].astype("category")
train.loc[:, "wind_label"] = train["wind_label"].astype("category")

In [ ]:
test.loc[:, "hr_label"] = test["hr_label"].astype("category")
test.loc[:, "temp_label"] = test["temp_label"].astype("category")
test.loc[:, "hum_label"] = test["hum_label"].astype("category")
test.loc[:, "wind_label"] = test["wind_label"].astype("category")

In [ ]:
train.info()

In [ ]:
test.info()

In [3]:
train_c=train
train_c = train_c.drop('registered',axis=1)
train_c = train_c.drop('count',axis=1)

train_r=train
train_r = train_r.drop('casual',axis=1)
train_r = train_r.drop('count',axis=1)

In [ ]:
train_c.info()

In [ ]:
train_r.info()

In [ ]:
test.info()

In [4]:
train_r = train_r.drop('datetime',axis=1)
train_r = train_r.drop('dt_obj',axis=1)
train_c = train_c.drop('datetime',axis=1)
train_c = train_c.drop('dt_obj',axis=1)

test = test.drop('datetime',axis=1)
test = test.drop('dt_obj',axis=1)

In [5]:
train_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  int64
 1   holiday     10886 non-null  int64
 2   workingday  10886 non-null  int64
 3   weather     10886 non-null  int64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  int64
 7   windspeed   10886 non-null  int64
 8   casual      10886 non-null  int64
 9   year        10886 non-null  int64
 10  month       10886 non-null  int64
 11  day         10886 non-null  int64
 12  hour        10886 non-null  int64
 13  min         10886 non-null  int64
 14  second      10886 non-null  int64
 15  dayofweek   10886 non-null  int64
 16  hr_label    10886 non-null  int64
 17  temp_label  10886 non-null  int64
 18  hum_label   10886 non-null  int64
 19  wind_label  10886 non-null  float64
dtypes: float64(3), int64(17)
memory usage: 1.7 MB

In [6]:
train_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  int64
 1   holiday     10886 non-null  int64
 2   workingday  10886 non-null  int64
 3   weather     10886 non-null  int64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  int64
 7   windspeed   10886 non-null  int64
 8   registered  10886 non-null  int64
 9   year        10886 non-null  int64
 10  month       10886 non-null  int64
 11  day         10886 non-null  int64
 12  hour        10886 non-null  int64
 13  min         10886 non-null  int64
 14  second      10886 non-null  int64
 15  dayofweek   10886 non-null  int64
 16  hr_label    10886 non-null  int64
 17  temp_label  10886 non-null  int64
 18  hum_label   10886 non-null  int64
 19  wind_label  10886 non-null  float64
dtypes: float64(3), int64(17)
memory usage: 1.7 MB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      6493 non-null   int64
 1   holiday     6493 non-null   int64
 2   workingday  6493 non-null   int64
 3   weather     6493 non-null   int64
 4   temp        6493 non-null   float64
 5   atemp       6493 non-null   float64
 6   humidity    6493 non-null   int64
 7   windspeed   6493 non-null   int64
 8   year        6493 non-null   int64
 9   month       6493 non-null   int64
 10  day         6493 non-null   int64
 11  hour        6493 non-null   int64
 12  min         6493 non-null   int64
 13  second      6493 non-null   int64
 14  dayofweek   6493 non-null   int64
 15  hr_label    6493 non-null   int64
 16  temp_label  6493 non-null   int64
 17  hum_label   6493 non-null   int64
 18  wind_label  6493 non-null   float64
dtypes: float64(3), int64(16)
memory usage: 963.9 KB

In [ ]:
#import numpy as np
#import pandas as pd
#from sklearn import datasets
#from sklearn.metrics import r2_score, accuracy_score
#from sklearn.model_selection import train_test_split
import xgboost as xgb

In [ ]:
#we can demonstrate this with a complete example, listed below.

# fit a final xgboost model on the housing dataset and make a prediction
from numpy import asarray
from pandas import read_csv
from xgboost import XGBRegressor
# load the dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
dataframe = read_csv(url, header=None)
data = dataframe.values
# split dataset into input and output columns
X, y = data[:, :-1], data[:, -1]
# define model
model = XGBRegressor()
# fit model
model.fit(X, y)
# define new data
row = [0.00632,18.00,2.310,0,0.5380,6.5750,65.20,4.0900,1,296.0,15.30,396.90,4.98]
new_data = asarray([row])
# make a prediction
yhat = model.predict(new_data)
# summarize prediction
print('Predicted: %.3f' % yhat)

In [13]:
#we can demonstrate this with a complete example, listed below.

# fit a final xgboost model on the housing dataset and make a prediction
from numpy import asarray
from pandas import read_csv
from xgboost import XGBRegressor
# load the dataset
#url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
#dataframe = read_csv(url, header=None)
#data = dataframe.values
# split dataset into input and output columns
#X, y = data[:, :-1], data[:, -1]
# define model
model = XGBRegressor()

C:\Users\Theraphi_WellnessSed\anaconda3\lib\site-packages\xgboost\compat.py:31: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [8]:
r_Y=train_r["registered"]

In [31]:
c_Y=train_c["casual"]

In [9]:
r_Y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10886 entries, 0 to 10885
Series name: registered
Non-Null Count  Dtype
--------------  -----
10886 non-null  int64
dtypes: int64(1)
memory usage: 85.2 KB

In [32]:
c_Y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10886 entries, 0 to 10885
Series name: casual
Non-Null Count  Dtype
--------------  -----
10886 non-null  int64
dtypes: int64(1)
memory usage: 85.2 KB

In [10]:
r_X=train_r.drop("registered",axis=1)

In [27]:
c_X=train_c.drop("casual",axis=1)

In [30]:
c_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  int64
 1   holiday     10886 non-null  int64
 2   workingday  10886 non-null  int64
 3   weather     10886 non-null  int64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  int64
 7   windspeed   10886 non-null  int64
 8   year        10886 non-null  int64
 9   month       10886 non-null  int64
 10  day         10886 non-null  int64
 11  hour        10886 non-null  int64
 12  min         10886 non-null  int64
 13  second      10886 non-null  int64
 14  dayofweek   10886 non-null  int64
 15  hr_label    10886 non-null  int64
 16  temp_label  10886 non-null  int64
 17  hum_label   10886 non-null  int64
 18  wind_label  10886 non-null  float64
dtypes: float64(3), int64(16)
memory usage: 1.6 MB

In [11]:
r_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  int64
 1   holiday     10886 non-null  int64
 2   workingday  10886 non-null  int64
 3   weather     10886 non-null  int64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  int64
 7   windspeed   10886 non-null  int64
 8   year        10886 non-null  int64
 9   month       10886 non-null  int64
 10  day         10886 non-null  int64
 11  hour        10886 non-null  int64
 12  min         10886 non-null  int64
 13  second      10886 non-null  int64
 14  dayofweek   10886 non-null  int64
 15  hr_label    10886 non-null  int64
 16  temp_label  10886 non-null  int64
 17  hum_label   10886 non-null  int64
 18  wind_label  10886 non-null  float64
dtypes: float64(3), int64(16)
memory usage: 1.6 MB

In [14]:
# fit model

model.fit(r_X, r_Y)
# define new data
#row = [0.00632,18.00,2.310,0,0.5380,6.5750,65.20,4.0900,1,296.0,15.30,396.90,4.98]
#new_data = asarray([row])

# summarize prediction
#print('Predicted: %.3f' % yhat)

C:\Users\Theraphi_WellnessSed\anaconda3\lib\site-packages\xgboost\data.py:208: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [33]:
model_c = XGBRegressor()
model_c.fit(c_X, c_Y)

C:\Users\Theraphi_WellnessSed\anaconda3\lib\site-packages\xgboost\data.py:208: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [34]:
y_test_c = model_c.predict(test)

In [15]:
# make a prediction
y_test = model.predict(test)

In [16]:
y_test

array([ 14.864106  ,   3.2923684 ,  -0.33939043, ..., 130.57358   ,
        94.10679   ,  58.532227  ], dtype=float32)

In [35]:
y_test_c

array([1.895701 , 2.451388 , 2.0774739, ..., 7.888834 , 6.9140353,
       2.4442158], dtype=float32)

In [18]:
df = pd.DataFrame(y_test)

In [36]:
df_c = pd.DataFrame(y_test_c)

In [37]:
df_c.rename( columns={0 :'casual'}, inplace=True )

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6493 non-null   float32
dtypes: float32(1)
memory usage: 25.5 KB

In [38]:
df_c.head()

     casual
0  1.895701
1  2.451388
2  2.077474
3  1.843797
4  1.843797

In [41]:
df_c[(df_c['casual']<0)]

Empty DataFrame
Columns: [casual]
Index: []

In [40]:
df_c.loc[df_c['casual'] < 0 , 'casual'] = 0

In [26]:
df.head()

   registered
0   14.864106
1    3.292368
2   -0.339390
3   -1.954204
4   -1.954204

In [44]:
df[(df['registered']<0)]

Empty DataFrame
Columns: [registered]
Index: []

In [43]:
df.loc[df['registered'] < 0 , 'registered'] = 0

In [52]:
result = pd.concat([df, df_c], axis=1, join='inner')

test3 = pd.read_csv("test.csv")

result['datetime']=test3['datetime']

result['count']=(round(result['registered'])+round(result['casual'])).astype('int')

In [53]:
result.head()

   registered    casual             datetime  count
0   14.864106  1.895701  2011-01-20 00:00:00     17
1    3.292368  2.451388  2011-01-20 01:00:00      5
2    0.000000  2.077474  2011-01-20 02:00:00      2
3    0.000000  1.843797  2011-01-20 03:00:00      2
4    0.000000  1.843797  2011-01-20 04:00:00      2

In [54]:


result[result['count'] < 0]

Empty DataFrame
Columns: [registered, casual, datetime, count]
Index: []

In [55]:
result=result.drop("registered",axis=1)

result=result.drop("casual",axis=1)

In [56]:
result.head()

              datetime  count
0  2011-01-20 00:00:00     17
1  2011-01-20 01:00:00      5
2  2011-01-20 02:00:00      2
3  2011-01-20 03:00:00      2
4  2011-01-20 04:00:00      2

In [57]:
submission=result

submission.to_csv("submission.csv", index=False)

import json
kaggle_key = "9c72a930e84f7c1845fbc803dc7adfdc"
kaggle_username = "kanericaws"

!kaggle competitions submit -c bike-sharing-demand -f submission.csv -m "baseline using xgboost regressor"

Successfully submitted to Bike Sharing Demand

  0%|          | 0.00/156k [00:00<?, ?B/s]
  5%|5         | 8.00k/156k [00:00<00:03, 44.9kB/s]
 82%|########2 | 128k/156k [00:00<00:00, 516kB/s]
100%|##########| 156k/156k [00:01<00:00, 126kB/s]

In [ ]:
# predictor_c = TabularPredictor(label="casual").fit(
#     train_data=train_c, time_limit=120, presets="best_quality"
# )

In [ ]:
#y_pred_c = predictor_c.predict(test)

In [ ]:
# predictor_c.fit_summary()

# ### Review AutoGluon's training run with ranking of models that did the best.

# predictor_c.leaderboard(silent=True).plot(kind="bar", x="model", y="score_val")

# ### Create predictions from test dataset

# print("AutoGluon infers problem type is: ", predictor_c.problem_type)
# print("AutoGluon identified the following types of features:")
# print(predictor_c.feature_metadata)

In [ ]:
# import autogluon.core as ag
# from sklearn.model_selection import train_test_split

# nn_options = {  # specifies non-default hyperparameter values for neural network models
#     'num_epochs': 20,  # number of training epochs (controls training time of NN models)
#     'learning_rate': ag.space.Real(1e-4, 1e-2, default=5e-4, log=True),  # learning rate used in training (real-valued hyperparameter searched on log-scale)
#     'activation': ag.space.Categorical('relu', 'softrelu', 'tanh'),  # activation function used in NN (categorical hyperparameter, default = first entry)
#     'dropout_prob': ag.space.Real(0.0, 0.5, default=0.1),  # dropout probability (real-valued hyperparameter)
# }

# gbm_options = {  # specifies non-default hyperparameter values for lightGBM gradient boosted trees
#     'num_boost_round': 100,  # number of boosting rounds (controls training time of GBM models)
#     'num_leaves': ag.space.Int(lower=26, upper=66, default=36),  # number of leaves in trees (integer hyperparameter)
#     #'num_leaves': ag.space.Int(lower=52, upper=132, default=72),  # number of leaves in trees (integer hyperparameter)

# }

# hyperparameters = {  # hyperparameters of each model type
#                    'GBM': gbm_options,
#                    'NN_TORCH': nn_options,  # NOTE: comment this line out if you get errors on Mac OSX
#                   }  # When these keys are missing from hyperparameters dict, no models of that type are trained

# time_limit = 4*60  # train various models for ~2 min
# num_trials = 5  # try at most 5 different hyperparameter configurations for each type of model
# search_strategy = 'auto'  # to tune hyperparameters using random search routine with a local scheduler

# hyperparameter_tune_kwargs = {  # HPO is not performed unless hyperparameter_tune_kwargs is specified
#     'num_trials': num_trials,
#     'scheduler' : 'local',
#     'searcher': search_strategy,
# }



# predictor_r = TabularPredictor(label="registered",problem_type="regression").fit(
#     train_r_80, tuning_data=train_r_20, time_limit=time_limit,
#     hyperparameters=hyperparameters, hyperparameter_tune_kwargs=hyperparameter_tune_kwargs,
# )

In [ ]:
# train_c_80, train_c_20 = train_test_split(train_c, test_size=0.2, random_state=0)


# predictor_c_p = TabularPredictor(label="casual").fit(
#     train_c_80, tuning_data=train_c_20, time_limit=time_limit,
#     hyperparameters=hyperparameters, hyperparameter_tune_kwargs=hyperparameter_tune_kwargs,
# )

In [ ]:
# predictor_c_p.fit_summary()

# ### Review AutoGluon's training run with ranking of models that did the best.

# predictor_c_p.leaderboard(silent=True).plot(kind="bar", x="model", y="score_val")

### Create predictions from test dataset

# print("AutoGluon infers problem type is: ", predictor_c.problem_type)
# print("AutoGluon identified the following types of features:")
# print(predictor_c.feature_metadata)

In [ ]:
# predictor_c_p.fit_summary()

# ### Review AutoGluon's training run with ranking of models that did the best.

# predictor_c_p.leaderboard(silent=True).plot(kind="bar", x="model", y="score_val")

### Create predictions from test dataset

# print("AutoGluon infers problem type is: ", predictor_c.problem_type)
# print("AutoGluon identified the following types of features:")
# print(predictor_c.feature_metadata)

In [ ]:
# predictor_r.fit_summary()

# ### Review AutoGluon's training run with ranking of models that did the best.

# predictor_r.leaderboard(silent=True).plot(kind="bar", x="model", y="score_val")

# ### Create predictions from test dataset

# print("AutoGluon infers problem type is: ", predictor_c.problem_type)
# print("AutoGluon identified the following types of features:")
# print(predictor_r.feature_metadata)

In [ ]:
# # # predict from specific model/stack
# # #i = 0  # index of model to use

# for i in range(0, 15):
#     model_to_use = predictor_c_p.get_model_names()[i]
# #y_pred_r = predictor_r.predict(test, model=model_to_use)
#     print(i);print(model_to_use);
#     #LightGBM\T2

In [ ]:
# #test2 = pd.read_csv("test.csv")
# #test['dt_obj'] =pd.to_datetime(test2['datetime'], format='%Y-%m-%d %H:%M:%S')

# # # predict from specific model/stack
# i = 1  # index of model to use

# #for i in range(0, 15):
# model_to_use = predictor_c_p.get_model_names()[i]
# y_pred_c = predictor_c_p.predict(test, model=model_to_use)
# print(i);print(model_to_use);
# #LightGBM\T2

In [ ]:
# i = 10  # index of model to use

# for i in range(0, 11):
#     model_to_use = predictor_r.get_model_names()[i]
#     print(i);print(model_to_use);
# #y_pred_r = predictor_r.predict(test, model=model_to_use)

In [ ]:
# train_c_80, train_c_20 = train_test_split(train_c, test_size=0.2, random_state=0)

# predictor_c = TabularPredictor(label="casual",problem_type="regression").fit(
#     train_c_80, tuning_data=train_c_20, time_limit=time_limit,
#     hyperparameters=hyperparameters, hyperparameter_tune_kwargs=hyperparameter_tune_kwargs,
# )

In [ ]:
# predictor_c.fit_summary()

# ### Review AutoGluon's training run with ranking of models that did the best.

# predictor_c.leaderboard(silent=True).plot(kind="bar", x="model", y="score_val")

# ### Create predictions from test dataset

# print("AutoGluon infers problem type is: ", predictor_c.problem_type)
# print("AutoGluon identified the following types of features:")
# print(predictor_c.feature_metadata)

In [ ]:

predictor_r = TabularPredictor(label="registered").fit(
    train_data=train_r, time_limit=180, presets="best_quality"
)

In [ ]:
predictor_r.fit_summary()

### Review AutoGluon's training run with ranking of models that did the best.

predictor_r.leaderboard(silent=True).plot(kind="bar", x="model", y="score_val")

### Create predictions from test dataset

# print("AutoGluon infers problem type is: ", predictor_c.problem_type)
# print("AutoGluon identified the following types of features:")
# print(predictor_r.feature_metadata)

In [ ]:
predictor_c = TabularPredictor(label="casual").fit(
    train_data=train_c, time_limit=180, presets="best_quality"
)

In [ ]:
# #test2 = pd.read_csv("test.csv")
# #test['dt_obj'] =pd.to_datetime(test2['datetime'], format='%Y-%m-%d %H:%M:%S')

# # # predict from specific model/stack
# #i = 1  # index of model to use

# for i in range(0, 15):
#     model_to_use = predictor_r.get_model_names()[i]
# #y_pred_c = predictor_c_p.predict(test, model=model_to_use)
#     print(i);print(model_to_use);
# #LightGBM\T2

In [ ]:
# #test2 = pd.read_csv("test.csv")
# #test['dt_obj'] =pd.to_datetime(test2['datetime'], format='%Y-%m-%d %H:%M:%S')

# # # predict from specific model/stack
# i = 6  # index of model to use

# #for i in range(0, 15):
# model_to_use = predictor_r.get_model_names()[i]
# print(i);print(model_to_use);

# y_pred_r = predictor_r.predict(test, model=model_to_use)
# #LightGBM\T2

In [ ]:
predictor_c.fit_summary()

### Review AutoGluon's training run with ranking of models that did the best.

predictor_c.leaderboard(silent=True).plot(kind="bar", x="model", y="score_val")

### Create predictions from test dataset

# print("AutoGluon infers problem type is: ", predictor_c.problem_type)
# print("AutoGluon identified the following types of features:")
# print(predictor_c.feature_metadata)

In [ ]:
y_pred_r = predictor_r.predict(test)


y_pred_c = predictor_c.predict(test)

In [ ]:
test.info()

In [ ]:
result = pd.concat([y_pred_r, y_pred_c], axis=1, join='inner')

result['count']=(round(result['registered'])+result['casual']).astype('int')

result=result.drop("registered",axis=1)

result=result.drop("casual",axis=1)

test3 = pd.read_csv("test.csv")

result['datetime']=test3['datetime']

result[result['count'] < 0]

In [ ]:






result.loc[result['count'] < 0 , 'count'] = 0

submission=result

submission.to_csv("submission.csv", index=False)

import json
kaggle_key = "9c72a930e84f7c1845fbc803dc7adfdc"

!kaggle competitions submit -c bike-sharing-demand -f submission.csv -m "baseline after feature eng
kaggle_username = "kanericaws"innering"